@import "./variables";
@import "../mdc.checkbox.css";

.mdc-checkbox {
    &.is-disabled {
        cursor: not-allowed;
        .mdc-checkbox__ripple {
            &::before, &::after {
                background-color: transparent;
            }
        }
    }
}
