.tree-table-body-row {
    display: none;

    &.dragged-down {
        border-bottom: 2px dashed rgba(0, 0, 0, 0.3);
    }
    &.dragged-up {
        border-top: 2px dashed rgba(0, 0, 0, 0.3);
    }

    &.visible {
        display: table-row;
    }
    
    &.clickable {
        cursor: pointer;
    }
    
    .tree-table-body-cell {

        &.checkbox-cell {
            width: 60px;
            max-width: 60px;
        }
        
        &.clickable {
            cursor: pointer;
        }

        .cell-container {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .icon-container {
                width: 24px;
                display: flex;
                margin-left: -8px;

                > span {
                    display: flex;
                    svg {
                        &:hover {
                            opacity: 0.3;
                        }
                    }
                }
            }
        }
    }
}
